@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<div>
    <h1>This line is added for demo purpose of triggers in azure devops</h1>
    <h1>This line is added for demo purpose of triggers in azure devops</h1>
</div>
